body {
    background-color: #F68A21;
    font-family: sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 20px;
    font-weight: bold;
}

button {
  background-color: #fff;
  color: #000;
  border-radius: 30px;
  height: 60px;
  border: none;
  font-size: 24px;
  padding: 0 30px;
}
